#DevUtilsWrapper .inputWrapper-31_8H8 {
    display: inline-flex;
    margin-right: 10px;
}

#DevUtilsModalContainer .inputWrapper-31_8H8 {
    display: inline-flex;
    margin-right: 15.5px;
    width: 65%;
}

#DevUtilsWrapper button, #DevUtilsModalContainer button {
    display: inline-flex;
}

#DevUtilsModalContainer code {
    white-space : pre-wrap !important;
    word-break: break-word;
}

#DevUtilsWrapper .select-2fjwPw {
    width: 25%;
    display: inline-grid;
    background-color: var(--backgroundColor01) !important;
    height: 44px;
    margin-right: 10px;
}
